{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div style="background-color: #E5E5E5;" class="col-md-8 min-vh-100 position-relative">
            <div class="container sticky-top" style="background-color: #E5E5E5;">
                <div class="row p-3">
                    <div class="col-3 col-md-2 col-lg-3 border-bottom border-dark">
                        <a style="color: #0E393A;" class="fs-3 chatname" href="{% url 'lobby' %}"><i class='bx bx-left-arrow-alt'></i></a>
                    </div>
                    <div class="col-6 col-md-8 col-lg-9 border-bottom border-dark">
                        <h6 style="color: #0E393A;" class="fw-bold fs-3 text-start chatname">{{roomname.name}}</h6>
                    </div>
                    <div class="col-3 d-flex justify-content-end col-md-2 d-lg-none border-bottom border-dark">
                        <a style="color: #0E393A;" data-bs-toggle="offcanvas" href="#offcanvasExample"><i class='bx bx-cog fs-3'></i></a>
                    </div>
                </div>
            </div>
            <div class="container pb-5 mb-5">
                <div id="messagebox" class="container pb-5 mb-5"></div>
            </div>
            <div class="container mb-4 position-absolute bottom-0 end-0">
                <form id="messageform" action="" method="POST">
                    {% csrf_token %}
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-md-9">
                                    <input type="hidden" id="room" name="room" value="{{roomname}}">
                                    <input type="hidden" id="username" name="username" value="{{username}}">
                                    <input type="text" id="message" class="form-control w-100 border-0" placeholder="Type a message">
                                </div>
                                <div class="col-6 col-md-3">
                                    <button class="btn submit w-100 text-white" type="submit">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 d-none d-lg-block">
            <div class="container-fluid p-4">
                <div class="container p-4">
                    <div class="row align-items-center justify-content-center border-bottom border-dark">
                        <div class="col-md-4 mb-4">
                            <div style="background-color: #0E393A;" class="rounded-circle p-5"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h6 style="color: #EC7A41;" class="small fw-bold mt-3">GROUP INFO</h6>
                    <div class="row gx-5">
                        <div class="col-md-4 border-bottom border-dark p-3">
                            <div style="background-color: rgba(255, 136, 69, 0.1);" class="p-5"></div>
                        </div>
                        <div class="col-md-4 border-bottom border-dark p-3">
                            <div style="background-color: rgba(255, 136, 69, 0.1);" class="p-5"></div>
                        </div>
                        <div class="col-md-4 border-bottom border-dark p-3">
                            <div style="background-color: rgba(255, 136, 69, 0.1);" class="p-5"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h6 style="color: #EC7A41;" class="small fw-bold mt-5">SETTINGS</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container-fluid p-4">
                <div class="container p-4">
                    <div class="row align-items-center justify-content-center border-bottom border-dark">
                        <div class="col-md-4 mb-4">
                            <div style="background-color: #0E393A;" class="rounded-circle p-5"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h6 style="color: #EC7A41;" class="small fw-bold mt-3">GROUP INFO</h6>
                    <div class="row gy-5 gx-5">
                        <div class="col-md-4 border-bottom border-dark">
                            <div style="background-color: rgba(255, 136, 69, 0.1);" class="p-5 mb-3"></div>
                        </div>
                        <div class="col-md-4 border-bottom border-dark">
                            <div style="background-color: rgba(255, 136, 69, 0.1);" class="p-5 mb-3"></div>
                        </div>
                        <div class="col-md-4 border-bottom border-dark">
                            <div style="background-color: rgba(255, 136, 69, 0.1);" class="p-5 mb-3"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h6 style="color: #EC7A41;" class="small fw-bold mt-5">SETTINGS</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    setInterval(function(){
        $.ajax({
            type: 'GET',
            url: '/getMessages/{{roomname.name}}',
            success: function(response){
                $("#messagebox").empty();
                for (var key in response.messages){
                    let temp = "<div class='container msg rounded rounded-4 mb-3 shadow'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].message+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>"; 
                    $('#messagebox').append(temp);
                    $('.msg').css({'background-color':'rgba(255, 136, 69, 0.1)', 'color':'#0E393A'});
                }
            },
            error: function(response){
               // alert('An error occured')
            }
        })
    },1000) 
    $(document).on('submit', '#messageform', function(e){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'/send',

            data:{
                username:$('#username').val(),
                room:$('#room').val(),
                message:$('#message').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },

            success: function(data){
                //alert(data)
            }
        });
        document.getElementById('message').value = ''
    });
});
</script>
{% endblock content %}